<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Chonburi' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Averia Serif Libre' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}


.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}


</style>
</head>
<body style="background-color:#9F95F1;">

<div class="container">
  <img src="https://i.pinimg.com/originals/bb/49/a2/bb49a210b14deb1e0ffac39d79a5ed95.jpg" alt="Snow" style="width:100%;">
  <div class="top-right" style="color: black;font-size: 30px;font-family: Lemon;">DELIEVERING SMILES TO YOUR LOVED ONES
</div>  
</div>
</body>
</html> 
