<link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Chonburi' rel='stylesheet'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Averia Serif Libre' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>
<div class="split left">
  <div class="centered">
    <img src="{{obj.pic}}">
    
    <h2>{{obj.name}}</h2>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <h2 style="color: green;">Rs.{{obj.price}}</h2>
   <h3>{{obj.description}}</h3>
   <h3 style="color: violet;">For {{obj.occasion}}</h3>
    <br><br>
   <button type="button" routerLink="/address" class="btn btn-primary btn-lg">Buy</button>
   
  </div>
  
</div>